{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "react-app",
        "prettier"
        ],
    "plugins": ["react", "import"],
    "rules": {
        "react/prop-types": ["warn", { "skipUndeclared": true }],
        "react/jsx-uses-vars": "warn",
        "@typescript-eslint/explicit-function-return-type": "warn",
        "@typescript-eslint/no-var-requires": "warn",
        "@typescript-eslint/member-delimiter-style": "warn"
        //"@typescript-eslint/camelcase": "warn"
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
        "jsx": true
        }
    },
    "settings": {
        "react": {
        "version": "detect"
        }
    }
    }